{% if collection.metafields["custom"]["text_width"] != blank %}
  <div class="custom-field custom-field__text-width custom-field__type--number-integer">
    <h3 class="custom-field--title">text width</h3>
    <div class="custom-field--value">
{{ collection.metafields["custom"]["text_width"] | metafield_tag }}

    </div>
  </div>
{% endif %}