{% if product.metafields["custom_fields"]["product_faqs"] != blank %}
  <div class="custom-field custom-field__product-faqs custom-field__type--html">
    <h3 class="custom-field--title">Product FAQs</h3>
    <div class="custom-field--value">
      {{ product.metafields["custom_fields"]["product_faqs"] }}

    </div>
  </div>
{% endif %}