{% if product.metafields["custom_fields"]["product_summary"] != blank %}
  <div class="custom-field custom-field__product-summary custom-field__type--single-line-text-field">
    <h3 class="custom-field--title">Product Summary</h3>
    <div class="custom-field--value">
      {{ product.metafields["custom_fields"]["product_summary"] }}

    </div>
  </div>
{% endif %}