{% if product.metafields["custom_fields"]["brand_colour"] != blank %}
  <div class="custom-field custom-field__brand-colour custom-field__type--single-line-text-field">
    <h3 class="custom-field--title">Brand Colour</h3>
    <div class="custom-field--value">
      {{ product.metafields["custom_fields"]["brand_colour"] }}

    </div>
  </div>
{% endif %}