{% if article.metafields["custom_fields"]["page_ad_button_text"] != blank %}
  <div class="custom-field custom-field__page-ad-button-text custom-field__type--text">
    <h3 class="custom-field--title">Page Ad Button Text</h3>
    <div class="custom-field--value">
      {{ article.metafields["custom_fields"]["page_ad_button_text"] }}

    </div>
  </div>
{% endif %}