{% if article.metafields["custom_fields"]["page_ad_description"] != blank %}
  <div class="custom-field custom-field__page-ad-description custom-field__type--text">
    <h3 class="custom-field--title">Page Ad Description</h3>
    <div class="custom-field--value">
      {{ article.metafields["custom_fields"]["page_ad_description"] }}

    </div>
  </div>
{% endif %}