{% if article.metafields["custom_fields"]["page_ad_title"] != blank %}
  <div class="custom-field custom-field__page-ad-title custom-field__type--text">
    <h3 class="custom-field--title">Page Ad Title</h3>
    <div class="custom-field--value">
      {{ article.metafields["custom_fields"]["page_ad_title"] }}

    </div>
  </div>
{% endif %}