{% if product.metafields["custom"]["product_summery_multi"] != blank %}
  <div class="custom-field custom-field__product-summery-multi custom-field__type--multi-line-text-field">
    <h3 class="custom-field--title">Product Summery Multi</h3>
    <div class="custom-field--value">
      {{ product.metafields["custom"]["product_summery_multi"] }}

    </div>
  </div>
{% endif %}