{% if article.metafields["custom_fields"]["product_ad_title_one"] != blank %}
  <div class="custom-field custom-field__product-ad-title-one custom-field__type--single-line-text-field">
    <h3 class="custom-field--title">Product Ad Title One</h3>
    <div class="custom-field--value">
      {{ article.metafields["custom_fields"]["product_ad_title_one"] }}

    </div>
  </div>
{% endif %}