{% if page.metafields["custom_fields"]["head-banner-html"] != blank %}
  <div class="custom-field custom-field__head-banner-html custom-field__type--html">
    <h3 class="custom-field--title">Head-banner-html</h3>
    <div class="custom-field--value">
      {{ page.metafields["custom_fields"]["head-banner-html"] }}

    </div>
  </div>
{% endif %}