{% if collection.metafields["custom_fields"]["excerpt"] != blank %}
  <div class="custom-field custom-field__excerpt custom-field__type--text">
    <h3 class="custom-field--title">Excerpt</h3>
    <div class="custom-field--value">
      {{ collection.metafields["custom_fields"]["excerpt"] }}

    </div>
  </div>
{% endif %}