{% if collection.metafields["custom_fields"]["product_ad"] != blank %}
  <div class="custom-field custom-field__product-ad custom-field__type--product-reference">
    <h3 class="custom-field--title">Product Ad</h3>
    <div class="custom-field--value">  
    {% assign product_ref = all_products[collection.metafields["custom_fields"]["product_ad"]] %}
    {{ product_ref.title | link_to: product_ref.url }}
    </div>
  </div>
{% endif %}