{% if product.metafields["custom_fields"]["product_directions"] != blank %}
  <div class="custom-field custom-field__product-directions custom-field__type--html">
    <h3 class="custom-field--title">Product Directions</h3>
    <div class="custom-field--value">
      {{ product.metafields["custom_fields"]["product_directions"] }}

    </div>
  </div>
{% endif %}