<style>
    .guarantee{
      background: #cae9fb;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 20px;
    }
    .guarantee h2{
      color: #3f7cbf;
    }
    @media only screen and (max-width: 767px){
      .guarantee{
        flex-wrap: wrap;
      }
    }
    </style>
    <div class="section">
      <div class="guarantee is-justify-space-between">
        <div class="twelve medium-down--one-whole">
          <h2>{{ section.settings.title }}</h2>
          <div>{{ section.settings.description }}</div>
        </div>
        <div class="four medium-down--one-whole text-center">
          <img src="{{ section.settings.image | img_url: 'master' }}" alt="{{ section.settings.image.alt }}">
        </div>
      </div>
    </div>
  {% schema %}
    {
      "name": "Guarantee V1",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "richtext",
          "id": "description",
          "label": "Description"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "label"
        }
      ],
      "presets": [
        {
        "category": "Text",
        "name": "Guarantee V1"
        }
      ]
    }
  {% endschema %}
  
  {% stylesheet %}
  {% endstylesheet %}
  
  {% javascript %}
  {% endjavascript %}